:root {
    --white: hsl(0, 100%, 100%);
    --black: hsl(0, 0%, 0%);

    --navy-950: hsl(224, 30%, 27%);
    --navy-200: hsl(241, 100%, 89%);
    --navy-50: hsl(221, 100%, 94%);

    --blue-800: hsl(234, 85%, 45%);
    --blue-50: hsl(234, 71%, 97%);

    --yellow-400: hsl(39, 100%, 56%);
    --yellow-50: hsl(38, 100%, 98%);

    --red-400: hsl(0, 100%, 67%);
    --red-50: hsl(0, 100%, 98%);

    --green-500: hsl(166, 100%, 37%);
    --green-50: hsl(162, 63%, 97%);

    --gradient1-1: hsl(256, 71%, 46%);
    --gradient1-2: hsl(241, 72%, 46%);

    --gradient2-1: hsl(252, 100%, 67%);
    --gradient2-2: hsl(241, 81%, 54%); 

    --spacing-1000: 5rem;   //80px
    --spacing-400: 2rem;   //32px
    --spacing-300: 1.5rem; //24px
    --spacing-200: 1rem;   //16px
    --spacing-100: 0.5rem; //8px

    --font-main: 'Hanken Grotesk', sans-serif;
}